body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #4169e1; /* Royal blue background */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.header .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.header nav {
    display: flex;
}

.header nav a {
    color: white;
    text-decoration: none;
    padding: 0 15px;
}

nav {
    display: flex;
}

nav a {
    color: white;
    padding: 0 1rem;
    text-decoration: none;
    font-size: 1rem;
}

nav a:hover {
    color: #ddd;
}

.logout-button {
    background-color: #dc3545; /* A strong red for high visibility */
    color: white; /* White text for high contrast and readability */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 20px auto; /* Center button horizontally, adjust vertical spacing as needed */
    display: block; /* Ensures it spans the width it needs */
    width: fit-content; /* Adjusts width to content, keeping the button compact */
    transition: background-color 0.2s; /* Smooth transition for hover effect */
}

.logout-button:hover {
    background-color: #c82333; /* A darker red for hover to provide interactive feedback */
}



.header nav a:hover {
    text-decoration: underline;
}

.profile-section {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.profile-section h1 {
    text-align: center;
    margin-bottom: 20px;
}

.achievement-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.achievement-icon img {
    width: 60px;
    height: 60px;
    margin-right: 20px;
}

.achievement-details {
    flex: 1;
}

.achievement-details h2 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.achievement-details p {
    margin: 5px 0;
    color: #666;
}

.progress-bar {
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    height: 20px;
    margin: 10px 0;
}

.progress-bar .progress {
    background-color: #7ca6eb;
    height: 100%;
}
