body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #989fa9, #81b0f3);
}

.login-container, .register-container {
    display: flex;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    max-width: 900px;
    width: 100%;
    justify-content: space-between;
    padding: 40px;
}

.login-form, .register-form {
    flex: 0.5;
    max-width: 600px;
    width: 100%;
}

.login-form h1, .register-form h1 {
    margin-top: 0;
    color: #333;
}

.login-form p, .register-form p {
    margin: 10px 0;
    color: #666;
    line-height: 1.4;
}
