<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play Poker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/game.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
<script>
    function fetchHandHistory() {
            fetch('/get_hand_history')
            .then(response => response.json())
            .then(data => {
                const handHistoryArea = document.getElementById('hand-history-area');
                handHistoryArea.innerHTML = '';
                data.hand_history.forEach(entry => {
                    const historyItem = document.createElement('div');
                    historyItem.className = entry.startsWith('---') ? 'hand-history-stage' : 'hand-history-item';
                    historyItem.textContent = entry;
                    handHistoryArea.appendChild(historyItem);
                });
            })
            .catch(error => {
                console.error('Error fetching hand history:', error);
            });
        }
        function receiveMessage(data) {
            const chatArea = document.getElementById('chat-area');

            // Append bot response to chat area
            const botMessage = document.createElement('div');
            botMessage.className = 'message bot-message';
            botMessage.textContent = 'Bot: ' + data.response;
            chatArea.appendChild(botMessage);
        }

        function fetchAnalysis() {
            fetch('/get_analysis')
            .then(response => response.json())
            .then(data => {
                const chatArea = document.getElementById('chat-area');
                chatArea.innerHTML = '';
                data.analysis_list.forEach(analysis => {
                    const botMessage = document.createElement('div');
                    botMessage.className = 'message bot-message';
                    botMessage.textContent = 'Bot: ' + analysis;
                    chatArea.appendChild(botMessage);
                });
            })
            .catch(error => {
                console.error('Error fetching analysis:', error);
            });
        }
    // Periodically fetch the hand history data
    setInterval(fetchHandHistory, 1000); // Fetch every 0.1 seconds
    setInterval(fetchAnalysis, 5000)
</script>

</head>
<body onload="fetchAnalysis()">
    <header class="header">
        <div class="logo">Intelli-Poker</div>
        <nav>
            <a href="{{ url_for('main_bp.index') }}">Home</a>
            <a href="{{ url_for('game_bp.play_game') }}">Start Game</a>
            <a href="{{ url_for('game_bp.instructions') }}">Instructions</a>
            <a href="{{ url_for('game_bp.profile') }}">Profile</a>
        </nav>
    </header>
    <div class="container">
        <main>
            <section class="game">
                <h2>Game</h2>
                <iframe src="http://localhost:8000" width="100%" height="600px"></iframe>
            </section>
            <div class="analysis-sections">
                <section id="chatbot-section">
                    <h2>Chatbot Analysis</h2>
                    <div id="chat-area" class="chat-area"></div>
                </section>
                <section id="hand-history-section">
                    <h2>Hand History</h2>
                    <div id="hand-history-area" class="hand-history-area"></div>
                </section>
            </div>
        </main>
    </div>
</body>
</html>
