<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play Poker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/game.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
<script>
    function fetchHandHistory() {
            fetch('/get_hand_history')
            .then(response => response.json())
            .then(data => {
                const handHistoryArea = document.getElementById('hand-history-area');
                handHistoryArea.innerHTML = '';
                data.hand_history.forEach(entry => {
                    const historyItem = document.createElement('div');
                    historyItem.className = entry.startsWith('---') ? 'hand-history-stage' : 'hand-history-item';
                    historyItem.textContent = entry;
                    handHistoryArea.appendChild(historyItem);
                });
            })
            .catch(error => {
                console.error('Error fetching hand history:', error);
            });
        }
        function receiveMessage(data) {
            const chatArea = document.getElementById('chat-area');

            // Append bot response to chat area
            const botMessage = document.createElement('div');
            botMessage.className = 'message bot-message';
            botMessage.textContent = 'Bot: ' + data.response;
            chatArea.appendChild(botMessage);
        }

        function fetchAnalysis() {
            fetch('/get_analysis')
            .then(response => response.json())
            .then(data => {
                const chatArea = document.getElementById('chat-area');
                chatArea.innerHTML = '';
                data.analysis_list.forEach(analysis => {
                    const botMessage = document.createElement('div');
                    botMessage.className = 'message bot-message';
                    botMessage.textContent = 'Bot: ' + analysis;
                    chatArea.appendChild(botMessage);
                });
            })
            .catch(error => {
                console.error('Error fetching analysis:', error);
            });
        }
    // Periodically fetch the hand history data
    setInterval(fetchHandHistory, 1000); // Fetch every 0.1 seconds
    setInterval(fetchAnalysis, 5000)
</script>

</head>
<body>
    <header class="header">
        <div class="logo">Intelli-Poker</div>
        <nav>
            <a href="{{ url_for('main_bp.index') }}">Home</a>
            <a href="{{ url_for('game_bp.play_game') }}">Start Game</a>
            <a href="{{ url_for('game_bp.instructions') }}">Instructions</a>
            <a href="{{ url_for('game_bp.profile') }}">Profile</a>
        </nav>
    </header>
    <div class="container">
        <main>
            <section class="game">
                <h2>Game</h2>
                <iframe src="http://localhost:8000" width="100%" height="600px"></iframe>
            </section>
            <div class="analysis-sections">
                <section id="chatbot-section" class="chatbot-section">
                    <div class="header-with-button">
                        <h2>Chatbot Analysis</h2>
                        <button id="ask-ai-btn" class="ask-ai-btn">
                            <img src="{{ url_for('static', filename='images/ask_ai.png') }}" alt="Ask AI" class="ask-ai-icon">
                        </button>
                    </div>
                    <div id="chat-area" class="chat-area"></div>
                </section>
                <section id="hand-history-section">
                    <h2>Hand History</h2>
                    <div id="hand-history-area" class="hand-history-area"></div>
                </section>
            </div>
            <!-- Help Button -->
            <button id="help-btn" class="help-btn">Help</button>
        </main>
    </div>

    <!-- The Modal -->
    <div id="ask-ai-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p id="ai-response">Waiting for AI response...</p>
        </div>
    </div>

    <!-- Help Modal -->
    <div id="help-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <img src="{{ url_for('static', filename='images/poker-hand-rankings.jpg') }}" alt="Poker Hand Rankings">
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            console.log("Page loaded, calling incrementProgress");
            incrementProgress();

            var modal = document.getElementById("ask-ai-modal");

            var btn = document.getElementById("ask-ai-btn");

            var span = document.getElementsByClassName("close")[0];

            btn.onclick = function() {
                modal.style.display = "block";
                askAI(); // Call the API when the modal is opened
            }

            span.onclick = function() {
                modal.style.display = "none";
            }

            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }

            // Help Modal
            var helpModal = document.getElementById("help-modal");
            var helpBtn = document.getElementById("help-btn");
            var helpSpan = helpModal.getElementsByClassName("close")[0];

            helpBtn.onclick = function() {
                helpModal.style.display = "block";
            }

            helpSpan.onclick = function() {
                helpModal.style.display = "none";
            }

            window.onclick = function(event) {
                if (event.target == helpModal) {
                    helpModal.style.display = "none";
                }
            }
        });

        function incrementProgress() {
            console.log("Increment progress called");
            fetch('/increment_progress', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                }
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log('Success:', data);
                updateProgress(data.play_consecutive_games);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }

        function updateProgress(playConsecutiveGames) {
            const progress = (playConsecutiveGames / 3) * 100;
            document.getElementById('playGamesProgress').style.width = `${progress}%`;
            document.getElementById('playGamesCount').innerText = `${playConsecutiveGames}/3`;

            // Trigger confetti when the goal is reached
            if (playConsecutiveGames == 3) {
                console.log("Triggering confetti!");  // Debugging statement
                triggerConfetti();
            }
        }

        function triggerConfetti() {
            console.log("Confetti function called!");  // Debugging statement
            confetti({
                particleCount: 100,
                spread: 70,
                origin: { y: 0.6 }
            });
        }

        function askAI() {
            const cards = "your cards here"; // Replace with the actual cards
            const game_state = "your game state here"; // Replace with the actual game state

            fetch('/ask_ai', {
                method: 'POST',
                headers: {
                'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    cards: cards,
                    game_state: game_state
                })
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById("ai-response").innerText = data.response;
            })
            .catch(error => {
                console.error('Error getting help from AI:', error);
                document.getElementById("ai-response").innerText = "An error occurred. Please try again.";
            });
        }
    </script>
</body>
</html>
