<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intelli-Poker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body>
    <header class="header">
        <div class="logo">Intelli-Poker</div>
        <nav>
            <a href="{{ url_for('main_bp.index') }}">Home</a>
            <a href="{{ url_for('game_bp.play_game') }}">Start Game</a>
            <a href="{{ url_for('game_bp.instructions') }}">Instructions</a>
            <a href="{{ url_for('game_bp.profile') }}">Profile</a>
        </nav>
    </header>

    <div class="welcome-section">
        <h1>Welcome back, ready for your next game?</h1>
        <button id="toggleButton" class="button" onclick="toggleGuide()">Show Guide</button>
        <div id="quickGuide" style="display:none;">
            <p>Step 1: Choose your game from the options below.</p>
            <p>Step 2: Check the instructions to brush up on the rules.</p>
            <p>Step 3: Hit 'Start Game' and enjoy!</p>
            <p>Step 4: Check your profile to win medals.</p>
        </div>
        <!-- <a href="{{ url_for('game_bp.profile') }}" class="button">Profile</a> -->
    </div>

    <div class="cards-section">
        <a href="{{ url_for('game_bp.instructions') }}" class="card-link">
            <div class="card">
                <img src="{{ url_for('static', filename='images/poker1.jpg') }}" alt="Poker Game 1">
                <h2>Texas Hold'em</h2>
                <p>Learn how to play  Texas Hold'em</p>
                <div class="progress-bar">
                    <div class="progress" style="width: 60%;"></div>
                </div>
                <span>Game 4 of 7</span>
            </div>
        </a>
    
        <a href="{{ url_for('game_bp.instructions') }}" class="card-link">
            <div class="card">
                <img src="{{ url_for('static', filename='images/poker2.jpg') }}" alt="Poker Game 2">
                <h2>Omaha Poker</h2>
                <p>Learn how to play  Omaha Poker</p>
                <div class="progress-bar">
                    <div class="progress" style="width: 50%;"></div>
                </div>
                <span>Game 1 of 2</span>
            </div>
        </a>
    
        <a href="{{ url_for('game_bp.instructions') }}" class="card-link">
            <div class="card">
                <img src="{{ url_for('static', filename='images/poker3.jpg') }}" alt="Poker Game 3">
                <h2>Seven-Card Stud</h2>
                <p>Learn how to play Seven-Card Stud</p>
                <div class="progress-bar">
                    <div class="progress" style="width: 0%;"></div>
                </div>
                <span>Game 0 of 2</span>
            </div>
        </a>
    </div>    

    <footer class="footer">
        <p>&copy; 2024 Intelli-Poker. All rights reserved.</p>
    </footer>
    <script>
        function toggleGuide() {
            var guide = document.getElementById("quickGuide")
            var button = document.getElementById("toggleButton");
            if (guide.style.display === "none") {
                guide.style.display = "block";
                button.textContent = 'Hide Guide';
            } else {
                guide.style.display = "none";
                button.textContent = 'Show Guide';
            }
        }
    </script>
</body>
</html>
