<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Progress</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/profile.css') }}">
</head>
<body>
    <header class="header">
        <div class="logo">Intelli-Poker</div>
        <nav>
            <a href="{{ url_for('main_bp.index') }}">Home</a>
            <a href="{{ url_for('game_bp.play_game') }}">Start Game</a>
            <a href="{{ url_for('game_bp.instructions') }}">Instructions</a>
            <a href="{{ url_for('game_bp.profile') }}">Profile</a>
        </nav>
    </header>
    <main>
        <div class="profile-section">
            <h1>Your Profile</h1>
            <div class="achievement-item">
                <div class="achievement-icon">
                    <img src="{{ url_for('static', filename='images/streak.jpeg') }}" alt="Streak Icon">
                </div>
                <div class="achievement-details">
                    <h2>Wildfire</h2>
                    <p>Maintain a 31-day streak</p>
                    <div class="progress-bar">
                        <div class="progress" style="width: 10%;"></div>
                    </div>
                    <span>5/30</span>
                </div>
            </div>
            <div class="achievement-item">
                <div class="achievement-icon">
                    <img src="{{ url_for('static', filename='images/champion.jpeg') }}" alt="Champion Icon">
                </div>
                <div class="achievement-details">
                    <h2>Champion</h2>
                    <p>Double your initial bet</p>
                    <div class="progress-bar">
                        <div class="progress" style="width: 50%;"></div>
                    </div>
                    <span>1/2</span>
                </div>
            </div>
            <div class="achievement-item">
                <div class="achievement-icon">
                    <img src="{{ url_for('static', filename='images/tophand.jpeg') }}" alt="Top Hand Icon">
                </div>
                <div class="achievement-details">
                    <h2>Top Hand</h2>
                    <p>Achieve a Royal Flush, Straight Flush, Four of a Kind, or Full House</p>
                    <div class="progress-bar">
                        <div class="progress" style="width: 20%;"></div>
                    </div>
                    <span>1/5</span>
                </div>
            </div>
            <div class="achievement-item">
                <div class="achievement-icon">
                    <img src="{{ url_for('static', filename='images/overachiever.jpeg') }}" alt="Wins Icon">
                </div>
                <div class="achievement-details">
                    <h2>Overachiever</h2>
                    <p>Play 5 consecutive games</p>
                    <div class="progress-bar">
                        <div class="progress" style="width: 80%;"></div>
                    </div>
                    <span>4/5</span>
                </div>
            </div>
            <form action="{{ url_for('game_bp.logout') }}" method="post">
                <button type="submit" class="logout-button">Logout</button>
            </form>            
        </div>
    </main>
    <script src="{{ url_for('static', filename='scripts/profile.js') }}"></script>
</body>
</html>