<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Progress</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/profile.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>
</head>
<body>
    <header class="header">
        <div class="logo">Intelli-Poker</div>
        <nav>
            <a href="{{ url_for('main_bp.index') }}">Home</a>
            <a href="{{ url_for('game_bp.play_game') }}">Start Game</a>
            <a href="{{ url_for('game_bp.instructions') }}">Instructions</a>
            <a href="{{ url_for('game_bp.profile') }}">Profile</a>
        </nav>
    </header>
    <main>
        <div class="profile-section">
            <h1>Progress</h1>
            <div class="profile-item">
                <h2>Skill Level</h2>
                <select id="skillLevelSelect" name="skillLevel">
                    <option value="beginner">Beginner</option>
                    <option value="intermediate">Intermediate</option>
                </select>
            </div>
            <div class="profile-item">
                <h2>Personal Notes</h2>
                <textarea id="playerNotes" name="playerNotes" placeholder="Your strategies, goals, etc."></textarea>
                <button onclick="saveNotes()" class="save-button">Save Notes</button>
            </div>
        </div>
        <div class="profile-section">
            <h1>Awards</h1>
            <div class="achievement-item">
                <div class="achievement-icon">
                    <img src="{{ url_for('static', filename='images/age.jpeg') }}" alt="Account Age Award Icon">
                </div>
                <div class="achievement-details">
                    <h2>Account Age Award</h2>
                    <p id="accountAgeAward"></p>
                </div>
            </div>
            <div class="achievement-item">
                <div class="achievement-icon">
                    <img src="{{ url_for('static', filename='images/streak.jpeg') }}" alt="Streak Icon">
                </div>
                <div class="achievement-details">
                    <h2>Wildfire</h2>
                    <p>Maintain a 31-day streak</p>
                    <div class="progress-bar">
                        <div class="progress" style="width: 65%;"></div>
                    </div>
                    <span>20/31</span>
                </div>
            </div>
            <div class="achievement-item">
                <div class="achievement-icon">
                    <img src="{{ url_for('static', filename='images/champion.jpeg') }}" alt="Champion Icon">
                </div>
                <div class="achievement-details">
                    <h2>Champion</h2>
                    <p>Double your initial bet</p>
                    <div class="progress-bar">
                        <div class="progress" style="width: 66%;"></div>
                    </div>
                    <span>2/3</span>
                </div>
            </div>
            <div class="achievement-item">
                <div class="achievement-icon">
                    <img src="{{ url_for('static', filename='images/tophand.jpeg') }}" alt="Top Hand Icon">
                </div>
                <div class="achievement-details">
                    <h2>Top Hand</h2>
                    <p>Achieve a Royal Flush, Straight Flush, Four of a Kind, or Full House</p>
                    <div class="progress-bar">
                        <div class="progress" style="width: 66%;"></div>
                    </div>
                    <span>6/9</span>
                </div>
            </div>
            <div class="achievement-item">
                <div class="achievement-icon">
                    <img src="{{ url_for('static', filename='images/overachiever.jpeg') }}" alt="Wins Icon">
                </div>
                <div class="achievement-details">
                    <h2>Overachiever</h2>
                    <p>Play 3 consecutive games</p>
                    <div class="progress-bar">
                        <div class="progress" id="playGamesProgress" style="width: 33%;"></div>
                    </div>
                    <span id="playGamesCount">1/3</span>
                </div>
            </div>
            
            <div class="profile-item">
                <h2>Reset Progress</h2>
                <input type="number" id="resetValue" placeholder="Enter reset value" min="0" max="5">
                <button onclick="resetProgress()" class="reset-button">Reset Progress</button>
            </div> 
            <form action="{{ url_for('game_bp.logout') }}" method="post">
                <button type="submit" class="logout-button">Logout</button>
            </form>
        </div>
    </main>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            fetchProfileData();
            checkScroll();
        });

        function fetchProfileData() {
            fetch('/get_profile')
            .then(response => response.json())
            .then(data => {
                console.log("Received data:", data);  // Debugging statement
                document.getElementById('skillLevelSelect').value = data.skill_level || '';
                document.getElementById('playerNotes').value = data.personal_notes || '';
                document.getElementById('playGamesProgress').style.width = `${(data.play_consecutive_games / 3) * 100}%`;
                document.getElementById('playGamesCount').innerText = `${data.play_consecutive_games}/3`;
                document.getElementById('accountAgeAward').innerText = data.account_age_award;
                console.log("Account Age Award updated to:", data.account_age_award);  // Debugging statement

                // Store data to check later
                window.profileData = data;
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }

        function saveNotes() {
            var skillLevel = document.getElementById('skillLevelSelect').value;
            var playerNotes = document.getElementById('playerNotes').value;

            fetch('/save_profile', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ skillLevel: skillLevel, playerNotes: playerNotes })
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log('Success:', data);
                alert(data.message || 'Profile saved successfully!');
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Failed to save profile. Please try again.');
            });
        }

        function updateProgress(playConsecutiveGames) {
            const progress = (playConsecutiveGames / 3) * 100;
            document.getElementById('playGamesProgress').style.width = `${progress}%`;
            document.getElementById('playGamesCount').innerText = `${playConsecutiveGames}/3`;

            // Trigger confetti when the goal is reached
            if (playConsecutiveGames == 3) {
                console.log("Triggering confetti!");  // Debugging statement
                triggerConfetti();
            }
        }

        function triggerConfetti() {
            console.log("Confetti function called!");  // Debugging statement
            confetti({
                particleCount: 100,
                spread: 70,
                origin: { y: 0.6 }
            });
        }

        function checkScroll() {
            window.addEventListener('scroll', () => {
                const element = document.querySelector('#playGamesProgress');
                const rect = element.getBoundingClientRect();
                const viewHeight = Math.max(document.documentElement.clientHeight, window.innerHeight);

                if (!(rect.bottom < 0 || rect.top - viewHeight >= 0)) {
                    // Element is in view
                    console.log('Element is in view');
                    if (window.profileData && window.profileData.play_consecutive_games == 3) {
                        console.log("Achievement condition met. Triggering confetti.");
                        triggerConfetti();
                        notifyUser("Congratulations! You've achieved the Overachiever award!");
                    }
                } else {
                    console.log('Element is not in view');
                }
            });
        }

        function notifyUser(message) {
            console.log("Notifying user:", message);  // Debugging statement
            const notification = document.createElement('div');
            notification.className = 'notification';
            notification.innerHTML = `<strong> </strong> ${message}`;

            document.body.appendChild(notification);

            setTimeout(() => {
                notification.remove();
            }, 4000);
        }

        // UNCOMMENT ONLY TO CLICK BUTTON TO RESET PROGRESS
        /***
        function resetProgress() {
            var resetValue = document.getElementById('resetValue').value;

            fetch('/reset_progress', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ reset_value: resetValue })
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log('Success:', data);
                // Fetch and update the progress bar
                updateProfile();
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }
        ***/
    </script>
</body>
</html>
